<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.protectfrombullying">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_appicon"
        android:label="NoBully 24/7"
        android:roundIcon="@mipmap/ic_launcher_appicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".PsychologicalHelpActivity"
            android:label="@string/title_activity_psychological_help"></activity>
        <activity
            android:name=".YouthLawActivity"
            android:label="@string/title_activity_youth_law" />
        <activity
            android:name=".GeneralLegalInformationActivity"
            android:label="@string/title_activity_general_legal_information" />
        <activity
            android:name=".CounsellingActivity"
            android:label="@string/title_activity_counselling" />
        <activity
            android:name=".TakeActionActivity"
            android:label="@string/title_activity_take_action" />
        <activity
            android:name=".BullyIdentitiesActivity"
            android:label="NoBully 24/7" />
        <activity
            android:name=".CyberBullyTextsActivity"
            android:label="NoBully 24/7" />
        <activity
            android:name=".ReportsActivity"
            android:label="NoBully 24/7" />
        <activity android:name=".KidsQRScanActivity" />
        <activity
            android:name=".HomeKidActivity"
            android:label="NoBully 24/7" />
        <activity android:name=".AddKidScreenActivity" />
        <activity
            android:name=".YourKidsActivity"
            android:label="NoBully 24/7" />
        <activity android:name=".LegalHelpActivity" />
        <activity android:name=".WaysToTackleActivity" />
        <activity android:name=".WholeStoryActivity" />
        <activity android:name=".PreventionActivity" />
        <activity android:name=".ParentTalkActivity" />
        <activity android:name=".QuizResultActivity" />
        <activity android:name=".HomeParentActivity" />
        <activity
            android:name=".ParentQuizActivity"
            android:label="NoBully 24/7" />
        <activity
            android:name=".UserTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StartPageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyNotificationListenerService"
            android:label="NoBully 24/7"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>